
    /* styles in style tag*/
    ul{
        list-style:none;
        padding-left:0;
    }
    /*container of flex box*/
    nav ul{
        display:flex;
        flex-direction: row;
    }
     /*items of flex box*/
    nav ul li{
       
        flex-grow: 1;
    }
    nav li {
        font-weight: bold;
        font-size: large;
        background-color:white;
        padding:5px;
        margin:2px;
        text-align:center;


    }

    header {
        background-color: yellow;
        margin: 0;
        padding: 30px;
    }

    h1 {
        color: blue;
        margin-bottom: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20pt;
        font-weight: normal;
    }

    .post {
        border-left: 4px solid #3abc49;
        padding-left: 15px;
        margin-bottom: 30px;
        margin-left:5px;
    }

    p,
    h2 {
        color: grey;
    }

    

    body {
        margin: 0;
        padding: 0;
    }

    footer {
        background-color: black;
        padding: 40px 20px;

    }

    footer p {
        color: white;
    }

    article p {
        font-size: 15.5px;
        text-align: justify;
        margin-right: 15px;
    }

    article h2 {
        color: #3abc49;
    }
    article img{
        float:left;
        border:3px solid grey;
        margin-right:10px;
        margin-bottom:10px;
    }
    article {
        clear:left;
    }

    /* ID Selectors */

    .subtitle {
        font-size: x-large;
        margin-top: 0;
        background-color:white;
        padding:5px;
        

    }

    .logo {
        float: right;
        vertical-align: top;
    }
